* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ggsans;
    src: url(../font/gg_sans_Medium.ttf);
}

/* ELEMENTI HEADER*/
header {
    background-color: #3161e0;
}

.unstyled-list {
    list-style-type: none;
}

.unstyled-list li {
    display: inline-block;
}

.unstyled-list li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    padding: 0px 15px;
}

.acc-btn {
    color: black;
    font-size: 15px;
    font-weight: 300;
    background-color: white;
    border-radius: 40;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
}

.items-center {
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
}

.main-font {
    font-family: ggsans;
}

.col-60 {
    width: 60%;
}

/* FINE ELEMENTI HEADER */

.col-40 {
    width: 40%;
}

.col-100 {
    width: 100%;
}

.col-2 {
    width: calc(100% / 6 * 2);
    background-color: #F08080;
}

.col-n {
    width: calc(100% / 6);
    background-color: #20B2AA;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bg-sec1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-blue {
    background-color: #255ee9;
}

.bg-pink {
    background-color: #FFC0CB;
}

.border-dash {
    border: 1px dashed black;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-green {
    background-color: #228B22;
}

.bg-lightdark {
    background-color: #23272A;
}

.bg-lightblue {
    background-color: #7FFFD4;
}

.padding-20 {
    padding: 15px;
}

.padding-10 {
    padding: 0px 15px;
}

.second-cont {
    max-width: 1000px;
    margin: auto;
}

.height300 {
    height: 300px;
}

.height600 {
    height: 600px;
}

.height70px {
    height: 70px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button-space {
    height: 40px;
    width: 70px;
}